@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
	font-family: "Pretendard-Regular";
	margin: 0px;
	padding: 0px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: none;
}

body {
	background-color: #1b1c22;
}

/* 다희 header */
#header-box{
    width:1300px;
    height: 165px;
    margin: auto;
}
#header{
    position: relative;
    height: 165px;
    
    background :#202126;
    background-image: url("../images/deco_bg_2.png");
    overflow: hidden;
}
#header-img1 {
    text-align: center;
    z-index: 10;
    margin-top: -5px;
}
#header-img1 > img {
    height: 20px;
    width: 2000px;
}
#header-img2 {
    text-align: center;
    z-index: 11;
    margin-top: -68px;
}
#header-img1 > img {
    height: 20px;
    width: 2000px;
}
#logo{
    width: 370px;
    height: 50px;
    margin-top: -15px;
    z-index: 12;
    
}
#logo > img {
    width: 250px;
    
}
#login-main{
    position: absolute;
    top : 52px;
    right : 17%;
    display: inline-block;
    
}
.user-circle{
    content: "\ea38";
}
#login-btn a{
    text-decoration: none;
    color: #878788;
    padding-right: 11px;
    padding-left:11px;
    font-size: 16px;
    display: inline;
    font-weight: 500;
    
}
.updown {
        position: absolute;
        border: 0.1px solid #878788;
        width: 0.1px;
        height: 25px;
        display: inline-block;
    }
#who a{
    position: absolute;
    display: inline-block;
    color: #878788;
    font-size: 14px;
    padding-right: 6px;
    padding-left:6px;
    font-weight: bold;
}
#who a:hover{
    color:white;
    font-weight: bold;
}
    
/* 유저 로그인시 나오는 문구 */
#user_ment{
    font-size: 25px;
    font-weight: bold;
    padding-right: 30px;
}
#login-btn a:hover{
    color: white;
}
/* .login-icon img {
    width: 26px;
} */
.login-icon{
    display: inline-block;
}
#header-tab{
    position: absolute;
    width: 100%;
    height: 57px;   
    border-top: 0.7px solid #292a2b;
    border-bottom: 1px solid #131319 !important;
    bottom: 0;
    
    
    background: #131319;
    
    
}
.navbar-inverse{
    background-color:#131319;
    cursor: pointer;
}
#header-tab-inside{
    display:flex;
    background-color: rgba(0, 0, 0, .1);
    margin-left: 300px;
}
.container-fleid{
    width:100%;
    padding-top: 10px;
/*  border-bottom: 1px solid #E9E9E9 !important; */
}
.container-fleid-list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 20px;
    padding: 0;
}
.container-fleid-list li{
    list-style: none;   
    position: relative;
    padding: 0 25px;
    align-items: center;
}
#first{
    color: #e59d19;
}
#first:hover{
    color:white;
}
#second{
    color: #BFB186;
}
#second:hover{
    color: #cec4a4;
}
.header-tab-menu a{
    display : flex; 
    position:relative;
    height:100%;
    align-items : center;
    text-decoration: none;
    color: #8d795c;
    white-space: nowrap; 
    font-weight:600;
    font-size: 17px;
}
.header-tab-menu a:hover{
    color: #ac9b82;
}
/* 다희 header */




/* 상단 */

/* 거래 아이템 리스트 윗부분 */

#item-search{
    width: 1300px;
    height: 700px;
    margin: 0 auto;
    margin-top: 10px;    
}
#item-search2{
    width: 1300px;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;    
}

#search-title{
    font-size: 18px;
    color: gray;
    margin-bottom: 20px;
    
    border-bottom: 0.7px solid #292a2b;
}
#search-title p{
    display: inline;
    font-size: 20px;
    color: #8D795C;
    font-weight: bold;
}
#search-title span{
    font-size: 15px;
}

.sell-btn{
    display: flex;
    position: relative;
    height: 62px;
    
    gap: 0.75rem;
}

#sell-link{
    display: flex;
    position: relative;
    
    gap: 0.75rem;
    border-radius: 0.5rem;
    
    align-items: center;
    
    background: #353946;
    color: white;
    
    padding-top: unset;
    padding-bottom: unset;
    padding: 2rem;
    
    font-size: 20px;
}

.tab-box{
    position: relative;
    display: flex;
    margin-bottom: 30px;
    
    gap: 1.5rem;
    width: 1200px;
}

.tabs{
    flex: 1;
    min-width:0;
}

#search-tab-list{
    display: flex;
    padding: 0;
}

.cate-box{
    position: relative;
    flex-grow: 1;
}

.cate-box a{
    font-size: 20px;
    font-weight: bold;
    color: #cccccc;
    border: 1px solid gray;
    padding: 1.5rem;
    
    opacity: 0.5;
    display: block;
    
    text-align: center;
    
    max-width: 100%;
    white-space: nowrap; /* 공백 축소/줄바꿈x */
    
}

.cate-box:not(.active):hover{
    background: #1A1B21;
}
.cate-box:not(.active):hover a{
    color: #DEDEDF;
}
.cate1:hover{
    border-top-left-radius: 0.75em;
}
.cate4:hover{
    border-top-right-radius: 0.75em;
}
.active a{
    color: #8D795C;    
    border-bottom-color: transparent;
}
#search-tab-list>li+li{
    margin-left: -1px;
}
#search-tab-list>li:first-child>a{
    border-top-left-radius: 0.75em;
}
#search-tab-list>li:last-child>a{
    border-top-right-radius: 0.75em;
}
.sell-btn{
    display: flex;
    position: relative;
    height: 62px;
    
    gap: 0.75rem;
}



/* 물품 목록 갯수 */
#item-box-head-text {
	width: 300px;
	
	display: block;
	position: absolute;
	
	top : -33px;
	left : -1px;
	
}

/* select button */
#item-box-head-text-2 {
	display: block;
	position: absolute;
	
	top : -46px;
	right : 0px;
}




#item-box-head-text-sub {
	margin-bottom: -10px;
}

#item-box-head-text-sub-font {
	color: #d7d3ce;
	font-size: 16px;
}

#item-box-head-text-img {
	width: 10px;
}

#item-box-head-text-img2 {
	height: 8px;
	width: 250px;
	margin-left: -10px;
}

#item-box-head-text-img3 {
	width: 10px;
	margin-left: -10px;
}

#item-box-head-text {
	color: #AE906A;
	font-size: 20px;
}

#item-box-head-text2 {
	color: #B3B3B3;
	font-size: 15px;
}

#item-box-head-text2 > b{
	color: #AE906A;
	font-size: 15px;
}





#item-box-head {
	width : 1300px;
	height : 70px;
	background-color : #1C1E24;
	
	position : relative;
	
	display: grid;
    grid-template-columns: 1fr 0.3fr 0.5fr 0.3fr 1fr 0.3fr 1fr 0.3fr 1fr 3fr;
	margin : auto;
	margin-top : 100px;

	align-items: center; /* gird 속성 세로 가운데 정렬 */
    justify-items: center; /* gird 속성 가로 가운데 정렬 */
}

#item-box-head2 {
	width : 150px;
	height : 100px;
	
	float : left;
	
	padding-top: 20px;
	
}

#item-box-head3 {
	margin-top: 30px;
}

.item-box-head2-font {
	color : #666666;
	font-size: 11px;
}

.item-box-head2-font2 {
	color : #B3B3B3;
	font-size: 15px;
}

.item-box-head2-font21 {
	color: #AE906A;
	font-size: 15px;
}

.item-box-head2-font22 {
	color: #234292;
	font-size: 15px;
	
	margin-left: 35px;
	margin-top: 30px;
}

.item-box-head3-font {
	color : #B3B3B3;
	text-align: center;
}

.item-box-head4 {
	margin-left: 170px;
}

.btn-primary {
	width : 150px;
	height : 35px;
	border-radius: 20px;
	background-color: #191C20!important;
	border: 1px solid #507CB5 !important;
	color: #507CB5 !important;
}


/* 상단 end */












#bid-box{
	width: 1300px;
	height: 1400px;
	position: relative;
	margin: auto;		
}

#bid-title{
	font-size: 25px;
	color: #c7b88c;
	font-weight: bold;
	background: #252830;
	border-radius: 5px;
	
	height: 80px;
	margin-top: 50px;
}

#bid-title-span1 {
	display: inline-block;
	margin-top: 25px;
	margin-left: 25px;
}

#bid-title-span2 {
	font-size: 15px;
	margin-left: 500px;
}

#bid-title span{
	background: #252830;
}

#bid-content{
	width: 930px;
	height: 900px;
	background: #252830;
	border-radius: 5px;
    margin-top: .5rem;
    
    float: left;
}

#selltime-info{
	font-size: 12px;
    border-radius: 7px;
    
    background: #1c1e24;
    margin: 30px;
    
    width: 870px;
    height: 150px;
    
    display: flex;
    flex-direction: column;
    
}

#selltime-info hr{
	height: 0.1px;
	opacity: 0.2;
	margin: 0 1rem;
}

.reg{
	display: flex;
    width: 100%; /* 부모 요소의 너비를 사용 */
    margin: 10px 0; /* 항목 간의 간격 조정 */
    margin-left: 25px;
    align-items: center; /* 수직 중앙 정렬 */
    
	font-size: 15px;
	color: #9f9f9f;
	height: 50%;
}

.reg > span {
	display: inline-block;
	vertical-align: middle;
}

#countdown {
	font-size: 20px;
	color: #b89966;
	font-weight: bold;
	letter-spacing: 5px;
	margin-left: 10px;
}

#countdown2 {
	font-size: 15px;
	color: #9f9f9f;
	font-weight: 0;
	letter-spacing: 3px;
}

#main-info {
	width : 870px;
	height : 450px;
	
	margin: auto;
	margin: 30px;
	
	background: #1c1e24;
	border-radius: 7px;
}

#item-image-box {
 	width: 300px;
	height : 450px;
	display: inline-block;
	float: left;
	
    display: flex;
    justify-content: center; /* 자식 요소를 가로(수평) 기준으로 가운데 정렬시킴 */
    align-items: center; /* 자식 요소를 세로(수직) 기준으로 가운데 정렬시킴 */
    overflow: hidden;
}

#item-image-box > img {
	max-height: 320px;
	height: auto;
    max-width: 150px;
}

#item-box2 {
	width: 250px;
	height : 450px;
	display: inline-block;
	float: left;
	
	display: flex;
    align-items: center; /* 자식 요소를 세로(수직) 기준으로 가운데 정렬시킴 */
    overflow: hidden;
}
.item_tag {
	margin-top: 20px;
	margin-bottom: 20px;
}

.btn-0 {
	font-size: 13px;
	text-decoration: none;
	border-radius: 5px;
	width: 100px;
	height: 15px;
	padding: 4px;
	color: #929a9e;
	margin-top: 20px;
	margin-bottom: 20px;
	
	background: #333744;
	
	text-decoration: none;
	pointer-events: none;
	cursor: default;
}

.btn-1 {
	font-size: 13px;
	text-decoration: none;
	border-radius: 5px;
	width: 100px;
	height: 15px;
	padding: 4px;
	color: #c4b590;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
	
	background: #333744;
	
	text-decoration: none;
	pointer-events: none;
	cursor: default;
}

.btn-7 {
	font-size: 13px;
	text-decoration: none;
	border-radius: 5px;
	width: 100px;
	height: 15px;
	padding: 4px;
	background-color: #353944;
	color: #00ff40;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
	
	text-decoration: none;
	pointer-events: none;
	cursor: default;
}

#item_name_gongback {
	margin-bottom: 0px;
}

#item_name {
	font-size: 18px;
	color: #c4b590;	
}

#gibon_option_font hr {
	border: 0;
    height: 0.2px;
}

#item-box3 {
	width: 250px;
	height : 450px;
	display: inline-block;
	float: left;
	
	display: flex;
    align-items: center; /* 자식 요소를 세로(수직) 기준으로 가운데 정렬시킴 */
    overflow: hidden;
}

#gibon_option_font {
	font-size: 15px;
	color : #aaa8a3;
	margin-bottom: 2px;
}

#gibon_option_font > span{
	display: inline-block;
	margin-bottom: 3px;
}

#option_font {
	font-size: 15px;
	color: #2b6ca2;
}

#option_font > span{
	display: inline-block;
	margin-bottom: 3px;
}

#usercard-cp {
	width: 200px;
	height: 50px;
	
	border-radius: 5px;
	
	display: grid;
	grid-template-columns: 1.5fr 3fr 5fr 1fr 1.3fr 2fr;
	align-items: center; /* gird 속성 세로 가운데 정렬 */
    justify-items: right; /* gird 속성 가로 오른쪽 정렬 */
    
    font-size: 15px;
   
}

#usercard-cp > img {
	width: 15px;
	height: 15px;
}

#usercard-cp2 {
	margin-top: 3px;
	justify-self: center;
	background: #15171E;  
}

#usercard-cp3 {
	justify-self: left;
	color: #999999;
}

#usercard-cp3 span{
	background: #15171E;  
}	

#usercard-cp5 {
	font-size: 15px;
	color: #999999;
}

#usercard-cp5 span{
	background: #15171E;  
}

#usercard-cp6 {
	font-size: 15px;
	justify-self: center;
	color: #999999;
}

#usercard-cp6 span{
	background: #15171E;  
}


#bid-btn{
	margin-top: 5px;
}

#bid-btn input{
	float: right;
}

#bid-btn input[type='text']{
	height: 26px;
	text-align: right;	
	color: #999999;
	width: 153px;
}

#bid-content-right {
	width: 340px;
	float: right;
	height: 1000px;
	margin-top: 10px;
}

#reset-btn {
	display: flex;
	align-items: center; /* 수직 중앙 정렬 */	
	
	width: 340px;
	height: 50px;
	border-radius: 5px;
	background-color: #191C20;
	border: 0.1px solid #626262;
	color: #507CB5 !important;
}

#reset-btn > span {
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
	
	font-weight: bold;
	font-size: 16px;
	color: #b3b3b3;
}

#profile-box {
	width: 340px;
	height: 250px;
	border-radius: 5px;
	background-color: #2b2e36;
	
	margin-top: 20px;
}


#price-box1 {
	display: flex;
	align-items: center; /* 수직 중앙 정렬 */
	
	width: 340px;
	height: 60px;
	border-bottom: 1px solid gray;
	margin-top: 20px;
	
	font-size: 17px;
	color: gray;
}

#price-box1 > span {
	display: inline-block;
	vertical-align: middle;
}

#price-box2 {
	display: flex;
	align-items: center; /* 수직 중앙 정렬 */	
	
	width: 340px;
	height: 60px;
	border-bottom: 1px solid gray;
	
	font-size: 17px;
	color: #ae906a;
}


#price-box2 > span {
	display: inline-block;
	vertical-align: middle;
}


#price-btn1 {
	width: 340px;
	height: 45px;
	
	margin-top: 30px;
	
	background: #8d795c;
	color: white;
	font-size: 15px;
	
	border-radius: 5px;
	border: 0px;
}

#price-btn2 {
	width: 340px;
	height: 45px;
	
	margin-top: 15px;
	
	background: #8d795c;
	color: white;
	font-size: 15px;
	
	border-radius: 5px;
	border: 0px;
}

#price-box1-span1 {
	margin-right: 150px;
	margin-left: 10px;
	font-size: 15px;
}

#price-box2-span1 {
	margin-right: 190px;
	margin-left: 10px;
	font-size: 15px;
}

#price-box1-span3, #price-box2-span3 {
	margin-left: 10px;
}

@keyframes blink {
	0% {
	  opacity: 1;
	}
	50% {
	  opacity: 0.8;
	}
	100% {
	  opacity: 1;
	}
}


#price-btn1, #price-btn2 {
  animation: blink 1.5s infinite; /* 1초 간격으로 무한 반복 */
}




