@charset "UTF-8";

#footer {
	width: 1300px;
	height: 70px;
	background-color: #1C1E24;
	margin: auto;
	margin-top: 400px;
}

#footer-head {
	margin: auto;
	
	width : 1300px;
	height : 70px;
	background-color : #1C1E24;
	
	position : relative;
	
	display: grid;
    grid-template-columns: 1.4fr 0.3fr 1.4fr 0.3fr 1.4fr 0.3fr 2fr 0.3fr 2fr 0.3fr 2fr 0.3fr 2.5fr 2.5fr;
	margin : auto;
	margin-top : 100px;

	align-items: center; /* gird 속성 세로 가운데 정렬 */
    justify-items: center; /* gird 속성 가로 가운데 정렬 */
}


#footer-tab{
	width : 150px;
	height : 100px;
	padding-top: 20px;
	text-align: center;
	padding-right: 20px;
}

#footer-tab2{
	width : 25px;
	height : 100px;
	padding-top: 20px;
}

#footer-tab-text {
	color: #B3B3B3;
}

/* 최근 등록순 button */
.btn2-success {
    width : 140px;
    height : 40px;
    border-radius: 0px;
    background-color: #191C20!important;
    border: 1px solid #AE906A !important;
    color: #AE906A !important;
    
    font-size: 15px;
    
}

#footer-content-tool {
	width: 1300px;
	height: 350px;
	background-color : #1C1E24;
	margin: auto;
	margin-top: 2px;
}

#footer-content {
	width: 1300px;
	height: 350px;
	background-color : #1C1E24;
	margin: auto;
	margin-top: 2px;
}

#footer-content-sub {
	width: 700px;
	height: 170px;
	border-bottom: 0.1px solid #292a2b;
		
	display: flex;
	float: left;
    align-items: center; /* 자식 요소를 세로(수직) 기준으로 가운데 정렬시킴 */
    flex-direction: column;
    overflow: hidden;
    
    margin-right: 30px;
}

#footer-content-sub1 {
	margin-top: 50px;
	font-size: 13px;
	color: #626262;
}

#footer-content-sub22 {
	margin-top: 10px;
	font-size: 13px;
	color: #626262;
}

#footer-content-sub1-1 {
	font-size: 20px;
	color: white;
	
	margin-bottom: 20px;
	display: block;
}

#footer-content-sub1-3 {
	margin-top: -10px;
}

#footer-content-sub1 > span{
	display: block;
}


#footer-content-sub2 {
	width: 550px;
	height: 170px;
	border-bottom: 0.1px solid #292a2b;
	
	padding-right: 150px;
	display: flex;
	float: left;
    align-items: center; /* 자식 요소를 세로(수직) 기준으로 가운데 정렬시킴 */
    flex-direction: column;
    overflow: hidden;
}

#footer-content-sub2-3 {
	color: #999999;
	display: block;
	margin-top: 30px;
}


#footer-content-sub3 {
	width: 700px;
	height: 170px;
	border-bottom: 0.1px solid #292a2b;
		
	display: flex;
	float: left;
    flex-direction: column;
    overflow: hidden;
    
    padding-left: 53px;
    margin-right: 30px;
    margin-top: 20px;
}


#footer-content-sub4 {
	width: 550px;
	height: 170px;
	border-bottom: 0.1px solid #292a2b;
	
	padding-right: 150px;
	display: flex;
	float: left;
    overflow: hidden;

	margin-top: 20px;
    padding-left: 40px;
}

#footer-content-sub4-img {
	margin-top: 10px;
	margin-right: 20px;
}

#footer-content-sub4-img > img {
	width: 150px;
	margin-top: 10px;
}

#footer-content-sub4-2 {
	font-size: 14px;
}

#footer-content-sub4-3 {
	display: inline-block;
	margin-left: 10px;
	
	font-size: 14px;
	color: #dddddd;
}
