@charset "UTF-8";

#box {
	height: 2000px;
	background: skyblue;
}
/* 사이드바 설정하기 선일작업 */
#side_menu {
	height: 100%;
	width: 2000px;
	background-color: white;
	
	/* 절대좌표로 지정 */
	position: fixed;
	top: 0;
	right: 0px;
	
	display: none;
	/* overlay보다 인덱스 앞으로 */
	z-index: 30;
	
	box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
}

/* overlay는 웹페이지 아무곳이나 누르면 사이드바 사라지게 하는 설정 */
.overlay {
	position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    /* overlay보다 인덱스 앞으로 */
    z-index: 29;
    display: none;
}

li.mainmenu ul {
	margin: 0px;
	list-style-type: none;
	padding: 0px;
	position: absolute;
	
	top: 100%; /* 부모 요소 바로 아래에 위치 */
    left: 0; /* 부모 요소와 같은 왼쪽 위치 */
    display: none; /* 처음에 숨기기 */
    
    width: 100%; 
    box-sizing: border-box; 
}

.mainmenu a {
	background: #FECCBE;
	display: block;
	
	color: white;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px gray;
	
	font-family: "TTTogether";
	padding: 10px;
	border-bottom: 1px solid #ffffff;
}